# Classificando vendas de 2022 e 2023 por classe

1. Importar dados de vendas detalhadas;
2. Importar tabela de correspondência entre categoria e classe;
3. Inserir a classe correspondente a cada produto;
4. Agregar as vendas por quantidade e receita, por ;

## Importando dados de vendas detalhadas

In [1]:
import numpy as np
import pandas as pd

In [46]:
df = pd.read_csv('SalesDetails20222024.csv')
df

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_17632\4183747234.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SalesDetails20222024.csv')

,Date,Store ID,Category,Sale ID,Status,Payment Type,Place or Sale,Product,Product ID,Payment Method,Revenues,Products
0,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,Average Caramelo (hot),NRCR,Tablet - Card,$0.00,1
1,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,With Lid 240ml,CTP2,Tablet - Card,$0.00,1
2,2023-12-31 17:16:23,138,Hot - Signatures,10924941,Delivered,Tablet,Tablet,Flat Caramel,1FC,Tablet - Card,$14.50,1
3,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,To Go,PRLV,Tablet - Card,$0.00,1
4,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,Original (60ºC),TEMP65,Tablet - Card,$0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
199172,2022-01-02 11:20:58,138,Sweets,2265118,Delivered,APP,Smartphone,Cake,8BOLO8,NaN,$11.74,2
199173,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,Lactose free,1PE,NaN,$1.45,1
199174,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,Average Sugar,NRSU,NaN,$0.00,1
199175,2022-01-02 11:20:58,138,Cold - Purist,2265118,Delivered,APP,Smartphone,Matcha Iced Latte,4MIL,NaN,$10.46,1
199176,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,To Go,PRLV,NaN,$0.00,2

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199177 entries, 0 to 199176
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            199177 non-null  object
 1   Store ID        199177 non-null  int64
 2   Category        199177 non-null  object
 3   Sale ID         199177 non-null  int64
 4   Status          199177 non-null  object
 5   Payment Type    198324 non-null  object
 6   Place or Sale   199177 non-null  object
 7   Product         199177 non-null  object
 8   Product ID      199177 non-null  object
 9   Payment Method  71311 non-null   object
 10  Revenues        199177 non-null  object
 11  Products        199177 non-null  int64
dtypes: int64(3), object(9)
memory usage: 18.2+ MB

In [32]:
df.columns

Index(['Date', 'Store ID', 'Category', 'Sale ID', 'Status', 'Payment Type',
       'Place or Sale', 'Product', 'Product ID', 'Payment Method', 'Revenues',
       'Products'],
      dtype='object')

### Modificando tipagens

In [47]:
# removendo cifrão do valor da venda
df['Revenues'] = df['Revenues'].apply(lambda x: x.replace('$',''))
df

,Date,Store ID,Category,Sale ID,Status,Payment Type,Place or Sale,Product,Product ID,Payment Method,Revenues,Products
0,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,Average Caramelo (hot),NRCR,Tablet - Card,0.00,1
1,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,With Lid 240ml,CTP2,Tablet - Card,0.00,1
2,2023-12-31 17:16:23,138,Hot - Signatures,10924941,Delivered,Tablet,Tablet,Flat Caramel,1FC,Tablet - Card,14.50,1
3,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,To Go,PRLV,Tablet - Card,0.00,1
4,2023-12-31 17:16:23,138,Personalization,10924941,Delivered,Tablet,Tablet,Original (60ºC),TEMP65,Tablet - Card,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
199172,2022-01-02 11:20:58,138,Sweets,2265118,Delivered,APP,Smartphone,Cake,8BOLO8,NaN,11.74,2
199173,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,Lactose free,1PE,NaN,1.45,1
199174,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,Average Sugar,NRSU,NaN,0.00,1
199175,2022-01-02 11:20:58,138,Cold - Purist,2265118,Delivered,APP,Smartphone,Matcha Iced Latte,4MIL,NaN,10.46,1
199176,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,To Go,PRLV,NaN,0.00,2

In [48]:
df = df.astype({'Date' : 'datetime64[s]', 'Store ID' : 'str', 'Category' : 'str', 'Status' : 'str', 'Payment Type' : 'str', 'Place or Sale' : 'str', 'Product' : 'str', 'Product ID' : 'str', 'Payment Method': 'str', 'Revenues' : 'float', 'Products' : 'str'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199177 entries, 0 to 199176
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            199177 non-null  datetime64[s]
 1   Store ID        199177 non-null  object
 2   Category        199177 non-null  object
 3   Sale ID         199177 non-null  int64
 4   Status          199177 non-null  object
 5   Payment Type    199177 non-null  object
 6   Place or Sale   199177 non-null  object
 7   Product         199177 non-null  object
 8   Product ID      199177 non-null  object
 9   Payment Method  199177 non-null  object
 10  Revenues        199177 non-null  float64
 11  Products        199177 non-null  object
dtypes: datetime64[s](1), float64(1), int64(1), object(9)
memory usage: 18.2+ MB

### Removendo personalizações e tickets com receita zerada

In [49]:
maskZeroRevenue = df['Revenues'] == 0
df = df[~maskZeroRevenue]
df

,Date,Store ID,Category,Sale ID,Status,Payment Type,Place or Sale,Product,Product ID,Payment Method,Revenues,Products
2,2023-12-31 17:16:23,138,Hot - Signatures,10924941,Delivered,Tablet,Tablet,Flat Caramel,1FC,Tablet - Card,14.50,1
5,2023-12-31 17:13:38,138,Methods,10924929,Delivered,Tablet,Tablet,Hot Drip V60,1HDV60,Tablet - Pix,19.80,2
11,2023-12-31 17:01:47,138,Hot - Purist,10924879,Delivered,APP,Smartphone,Pure Black (double espresso),1PB,APP - Wallet,6.83,1
13,2023-12-31 16:53:10,138,Cold - Purist,10924839,Delivered,Tablet,Tablet,Iced Latte,5IL,Tablet - Card,12.90,1
19,2023-12-31 16:39:10,138,Hot - Signatures,10924770,Delivered,Tablet,Tablet,Mad Mocha,3MC,Tablet - Pix,13.10,1
...,...,...,...,...,...,...,...,...,...,...,...,...
199168,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,Oatmilk,LVG,nan,4.68,1
199171,2022-01-02 11:20:58,138,Hot - Signatures,2265118,Delivered,APP,Smartphone,Mad Mocha,3MC,nan,8.59,1
199172,2022-01-02 11:20:58,138,Sweets,2265118,Delivered,APP,Smartphone,Cake,8BOLO8,nan,11.74,2
199173,2022-01-02 11:20:58,138,Personalization,2265118,Delivered,APP,Smartphone,Lactose free,1PE,nan,1.45,1
199175,2022-01-02 11:20:58,138,Cold - Purist,2265118,Delivered,APP,Smartphone,Matcha Iced Latte,4MIL,nan,10.46,1

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93392 entries, 2 to 199175
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            93392 non-null  datetime64[s]
 1   Store ID        93392 non-null  object
 2   Category        93392 non-null  object
 3   Sale ID         93392 non-null  int64
 4   Status          93392 non-null  object
 5   Payment Type    93392 non-null  object
 6   Place or Sale   93392 non-null  object
 7   Product         93392 non-null  object
 8   Product ID      93392 non-null  object
 9   Payment Method  93392 non-null  object
 10  Revenues        93392 non-null  float64
 11  Products        93392 non-null  object
dtypes: datetime64[s](1), float64(1), int64(1), object(9)
memory usage: 9.3+ MB

## Importando tabela de categorias por classe